h1 {
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	font-family: Oxygen, Roboto, sans-serif;
	letter-spacing: 5px;
	
	padding: 10px 10px;
}

.question {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	font-family: Roboto, Oxygen, sans-serif;
	letter-spacing: 3px;
	padding-bottom: 50px;
}

.question > .answer {
	font-size: 18px;
	font-weight: 400;
	font-family: Roboto, Oxygen, sans-serif;
	letter-spacing: 2px;
}
